<h1>User info</h1>
<p>name</p>
<%= current_user.name %>
<p>introduction</p>
<%= current_user.introduction %>
<%= link_to "#",  edit_user_path %>


<h1>New book</h1>
<%= form_with model: Book.new do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :opinion %>
<%= f.text_area :opinion %>
<%= f.submit 'Creat Book' %>
<% end %>